* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.container img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 3px, 5px, 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 10px;
}

.mainContainer {
  min-height: 100vh;
  background-color: #fffc00;
}

.footerColor {
  background-color: #343a40;
}

a {
  color: #fff;
}

.size_container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.size {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #fff; */
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  /* background-color: #e4e000; */
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0);
  /* border-top: 2px solid rgba(255, 255, 255, 0.75);  */
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}

.size:hover {
  background-color: #006de2;
  color: #fff;
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.75);
}

.shoe_container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
